@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: rgba(0, 0, 0, 0.5); */

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.video-react .video-react-big-play-button {
  top: 50% !important;
  left: 50% !important;

}
.menu
{
  font-weight: 500;
  cursor: pointer;
}
.menu:hover
{
  color: orangered;
  cursor: pointer;
}

.container {
  text-align: center;
}

.centered {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  font-weight: 600;
  color:#ff8a00
}

.ant-card-grid {
  padding: 5px !important;
  box-shadow: none !important
}
.ant-card-bordered
{
  border: none !important;
}
.ant-card-body{
  background-color:#1a1a1a

}
.title-film
{
  text-align: left;
  color: #ff8a00;
  padding:15px 0px 15px 0px;
  font-weight: bold;
  font-size:18px
}
.title-info-film
{
  text-align: left;
  color: #ff8a00;
  font-weight: bold;
  font-size:20px;
  padding:5px 0px 5px 0px
}
.title-detal
{
  text-align: left;
  color: #FFFFFF;
  padding:15px 0px 15px 0px;
  font-weight: bold;
  cursor: pointer;
}
.title-detal:hover
{
  text-align: left;
  color: #ff8a00;
  padding:15px 0px 15px 0px;
  font-weight: bold;
  cursor: pointer;

}


.centered-left {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: bold;
  color:#FFFFFF;
  text-align: left;
}
.centered-left-view {
  padding: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  font-style: italic;
}

.centered-left-name {
  padding: 5px;
  font-size: 12px;
  color: #FFFFFF;
  text-align: left;
  font-style: italic;
}

.centered-left-tap {
  padding: 5px;
  font-size: 12px;
  color: orangered;
  text-align: left;
  font-style: italic;
}
.trend-icon
{
  background-color: #ff8a00;
  border-radius: 15px;
  text-align: center;
  width: 22px;
  font-weight: bold;
  color:#FFFFFF;
  top:25%;
  position: absolute;

}

.div-come
{
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400 !important;
  text-align: left;
  transition: transform .2s;

}
.div-come:hover
{
  color: #ff8a00;
  display: grid;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600 !important;
  text-align: left;
  transition: transform .2s;
}
.div-trend
{
  box-shadow: rgb(0 0 0 / 80%) 0 0 10px !important;
  border-radius:10px !important ;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  transition: transform .2s;

}
.div-trend:hover
{
  box-shadow: rgb(0 0 0 / 80%) 0 0 10px !important;
  border-radius:10px !important ;
  color: #ff8a00;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  transition: transform .2s;
}

.dropdown {
    vertical-align:middle;
    cursor: pointer;
    transition: transform .2s;

  }
  
  .dropdown-content {
    transition: transform .2s;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: -40px;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-top: 25px;
    z-index: 1;
    color: #FFFFFF;
    background-color: #141111;
  }
  
  .dropdown:hover .dropdown-content {
    transition: transform .2s;
    display: block;
  }

  .dropdown-text
  {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px;
  }
  .dropdown-text:hover
  {
    color: orangered;
  }

  .menu_desktop {
    width: 300px !important;
    height: 100% !important;
    position: fixed !important;
    background-color:#001529;
    overflow:auto;
    z-index: 10;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    left: 0; /*or bottom, top, right*/
  }
  
  .menu_desktop_mobile {
    width: 300px !important;
    height: 100% !important;
    position: fixed !important;
    margin-left: -300px;
    overflow: scroll;
    background-color:#001529;
    z-index: 10;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    left: 0; /*or bottom, top, right*/
  }

.border-menu
{
  border-bottom: 2px solid orangered;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: #FFFFFF;
}
.ant-pagination-item-active {
  font-weight: 500;
  color:#FFFFFF;
  background: orangered;
  border-color: #1890ff;
}

.ReactModal__Overlay
{
  background-color: rgb(4 4 4 / 75%) !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.my-anchor-css-class
{
  color:orangered !important;
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.slick-prev {
  left: 20px !important;
}

.slick-next {
  right: 0px !important;
}

#nprogress .bar {
  background: #ff0303 !important;
  height: 3px !important;
}

.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}/*# sourceMappingURL=slick.min.css.map */


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  display: none !important;
}

.image-home
{
  box-shadow: rgb(0 0 0 / 80%) 0 0 10px !important;
  border-radius: 10px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}