$color-primary: black;	
.title {
  color: $color-primary;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
   
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.main
{
  background-color: #1a1a1a;
}

.slider
{
  text-align: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
  &:hover {
    .image {
      transform: scale(1.05); 
      cursor: pointer;
      transition: all .3s ease-in-out;
    };
    .play
    {
      background-image: url("./play.png");
      // background: #ff9601;
      opacity: 1;
      transform: scale(1.5);
      transition: all .3s ease-in-out;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
    };
    .topLeft
    {
      top: 2px;
      left: 4px;
      transition: all .3s ease-in-out;
    };
    .bottomCarou {
      position: absolute;
      bottom: 0px;
      right: 3px;
      color:#FFFFFF;
      font-weight: 600;
      left:3px;
      transition: all .3s ease-in-out;
    }
  }
}
.bottomCarou {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  color:#ff8a00;
  background-color:  rgba(0, 0, 0, 0.8);
  transition: all .3s ease-in-out;
}
.image
{
  cursor: pointer;
  transition: all .3s ease-in-out;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.topLeft {
  min-width: 50px;
  border-radius:10px !important ;
  padding:5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
  color: #FFFFFF;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , #ff9601);
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all .3s ease-in-out;

}

/* Top right text */
.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */

.play {
  background: #ff9601;
  background-image: url("./play.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all .3s ease-in-out;
}

.home
{
  text-align: center;
  position: relative;
  cursor: pointer;
  &:hover {
    .imageHome {
      box-shadow: rgb(0 0 0 / 80%) 0 0 10px;
      border-radius:10px !important ;
      transform: scale(1.05); 
      transition: all .3s ease-in-out;
    };
    .play
    {
      background-image: url("./play.png");
      // background: #ff9601;
      opacity: 1;
      transform: scale(1.5);
      transition: all .3s ease-in-out;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
    };
    .topLeft
    {
      text-transform: capitalize;
      border-radius:10px !important ;
      top: 2px;
      left: 4px;
      transition: all .3s ease-in-out;
    };
    .bottomHome
    {
      border-radius:10px !important ;
      position: absolute;
      bottom: -10px;
      right: -8px;
      left: -8px;
      padding: 10px;
      font-size: 14px;
      font-weight: 600;
      color:#FFFFFF;
      background-color:  #0069d9;
      transition: all .3s ease-in-out;
    }
  }
}
.imageHome
{
  box-shadow: rgb(0 0 0 / 80%) 0 0 10px;
  border-radius:10px !important ;
  max-height:400px;
  min-height:400px;
  object-fit: cover;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.topLeftHome {
  min-width: 50px;
  border-radius:10px !important ;
  padding:5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
  color: #FFFFFF;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , #ff9601);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all .3s ease-in-out;

}

.bottomHome {
  border-radius:10px !important ;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  background-color:  #0069d9;
  transition: all .3s ease-in-out;
}
